@import url('./main-layout.css');

.red {
  color: var(--lumo-error-text-color);
}
.green {
  color: var(--lumo-success-text-color);
}
.admin-chart-hidden{
    visibility: hidden;
}

.admin-chart-visible{
    visibility: visible;
}

.user-edit{
    width: 50em;
}

.vert-layout-margin{
    padding-left: 0px;
}

.user-view-left-side{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

    color: white;

}

.exam-area{
    height: 50%;
}

.label-stat{
    text-decoration: underline;
}

.user-hr{
    border-top: 1px solid white;
}

.chart-user-view{
    margin-top: 30px;
}

.user-view-button{
    color: #d9fae4;
    background: #63cf87;

}

.user-view-buttons{
    margin: auto;
}

.user-view-question-text {
    width: fit-content;
}

.next-button {
    margin-right: 20px;
}
